body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

p {
	line-height: 1.5;
	font-size: 20px;
}
.ucf{
	vertical-align: top;
}
hr{
	color:gold;
}
h1{
	font-family: 'Britannic Bold';
	font-size: 60px;
	color: white;
}
h3{
	font-family: 'Britannic Bold';
	font-size: 25px;
	color: gold;
}
h2{
	font-family: 'Britannic Bold';
	font-size: 30px;
	color: gold;
}
.info {
/*dot -> class*/
	text-align: center;
	font-family: 'Britannic Bold';
	font-size: 25px;
	/*background: #63B8FF;*/
	padding:100px;
	color:gold;    
 	
 }

.resume {
	color:white;
	text-decoration: none;	
}

.resume:hover{
	color:gold;
}

 li{
	padding-right: 30px;
	display: inline;
}

 .container {
 	width: 100%;
 	margin: 0 auto;
 }

/